<div class="main">

  <div class="logo">
    <img src="assets/images/Picture1.png">
  </div>

  <nav class="nav_links">
      <ul class="nav">
      <li><i class="fa fa-home"></i><a [routerLink]="['/homepage']">Home</a></li>

        <li><i class="fa fa-heartbeat"></i><a [routerLink]="['/venue']">Venue</a>
          <div class="navdropvenu_links">
            <ul>
            <li><a [routerLink]="['/venue/banquethall']">Banquet Hall</a></li>
            <li><a href="#">Wedding Lawn</a></li>
            <li><a href="#">Open Lawn</a></li>
            <li><a href="#">5 Star Hotel</a></li>
            <li><a href="#">Terrace Hall</a></li>
            <li><a href="#">Resort</a></li>
            <li><a href="#">Beach</a></li>
            <li><a href="#">River Side</a></li>
            </ul>
          </div>
        </li>

        <li><i class="fa fa-globe"></i><a [routerLink]="['/vendors']">Vendors</a>
          <div class="navdropvend_links">
            <ul>
            <li><a href="#">Wedding Card</a></li>
            <li><a href="#">PhotoGrapher</a></li>
            <li><a href="#">Band/Baja</a></li>
            <li><a href="#">Decoration</a></li>
            <li><a href="#">DJ</a></li>
            <li><a href="#">Catering</a></li>
            <li><a href="#">Makeup Artist</a></li>
            <li><a href="#">Mehendi Artist</a></li>
            <li><a href="#">Transport</a></li>
            </ul>
          </div>
        </li>

        <li><i class="fa fa-camera" ></i><a href="#">Gallery</a></li>

        <li><i class="fa fa-user"></i><a href="#">LOGIN|SIGNUP</a></li>
      </ul>   
  </nav>

</div>