<div class="page-foot">
    <div class="col-bottom-banner">
        <div class="row-down1">
            <div class="about follow">
                <h2>RoyalWed - About US</h2>
                <p>
                ROYALWED is going to disrupt the Event Management Industry by providing all solutions under one roof as like booking of mandaps, 
                launching of products, corporate events etc. 
                Royalwed Team is here to make you & your family enjoy happiness & celebrate the event together.
                </p>
            </div>
            <div class="about follow">
                <h3>Follows Us On</h3>
                <img class="logo" src='assets/images/logo-1.png' width="30" height="30">
                <img class="logo" src='assets/images/logo-2.png' width="30" height="30">
                <img class="logo" src='assets/images/logo-3.png' width="30" height="30">
                <img class="logo" src='assets/images/logo-4.png' width="30" height="30">
                <div class="enquiry">Any Enquiry...?</div>
                <div class="links"> 
                <a href="#">enquiry@Royalwed.in</a>
                <a href="#">info@Royalwed.in</a>
                <a href="#">booking@Royalwed.in</a>
                </div>
            </div>
        </div>
        <div class="row-down1 nav">
            <div class="category">
            <h1>Venue</h1>   
            <ul class="nav_links">
                <li><a href="#">Banquet Hall</a></li>
                <li><a href="#">Wedding Lawn</a></li>
                <li><a href="#">Open Lawn</a></li>
                <li><a href="#">5 Star Hotel</a></li>
                <li><a href="#">Terrace Hall</a></li>
                <li><a href="#">Resort</a></li>
                <li><a href="#">Beach</a></li>
                <li><a href="#">River Side</a></li>
            </ul>                       
            </div>
            <div class="category imgg">
            <img src="assets/images/Picture1.png" width="290" height="120">
            </div>
            <div class="category">
            <h1>Vendor</h1>   
            <ul class="nav_links">
            <li><a href="#">Wedding Card</a></li>
            <li><a href="#">PhotoGrapher</a></li>
            <li><a href="#">Band/Baja</a></li>
            <li><a href="#">Decoration</a></li>
            <li><a href="#">DJ</a></li>
            <li><a href="#">Catering</a></li>
            <li><a href="#">Makeup Artist</a></li>
            <li><a href="#">Mehendi Artist</a></li>
            <li><a href="#">Transport</a></li>
            </ul>                       
            </div>
            <div class="category">
            <h1>Shop</h1>   
            <ul class="nav_links">
            <li><a href="#">Groom</a></li>
            <li><a href="#">Bride</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Kids</a></li>
            </ul>                       
            </div>
        </div>
        <div class="row-down1 copy">
            <div class="copyright">
                <span>© 2020 Copyright : royalwed.in</span>
            </div>
        </div>
    </div>
</div>
