<div class="homepage">
    <div class="main">      
    <div class="col-md-offset-2 col-md-8">
        <section class="tag">
            <h3>Wedding Inspiration</h3>
            <p>
                Get Inspired for Your Dream Wedding 
            </p>
        </section>
        <div class="col-md-offset-3 col-md-12">
        <select id="dropmenu1">
            <option selected="selected" value="Select Area">Select Area</option>
            <option value="A1">A1</option>
            <option value="A2">A2</option>
            <option value="" disabled="disabled">--------------------------</option>
            <option value="Destination Wedding">Destination Wedding</option>
        </select>
        </div>
    </div> 
    </div>
    
    <div class="col-banner-top">
        <section class="tag2">
            <img class="topdesgin1" src='assets/images/topdesgin1.png' width="550" height="80">
            <h3>
                ROYALWED WELCOMES YOU
            </h3>
            <img class="topdesgin2" src='assets/images/topdesgin3.png' width="470" height="60">
            <p>
                We Build Your Dream Around You.
            </p>
            <p>
                Save Time & Effort, One Stop Solution To Plan Your Wedding And Celebrate Your Events With Us.
            </p>
            <p>
                Book Experienced Vendors. 
                Verified Professionals Online Booking In Few Clicks.
            </p>
        </section>
    </div>  
    <div class="col-venu">
        <section class="venu">
            <h3>
                VENUES
            </h3>
            <img class="topdesgin3" src='assets/images/topdesgin3.png' width="450" height="50">
        </section>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="venu">
            <a class="venu_links" href="#">
                <img class="venu-img" src='assets/images/location-1.jpg' width="320" height="220">
            </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="venu">
            <a class="venu_links" href="#">
                <img class="venu-img" src='assets/images/location-2.jpg' width="320" height="220">
            </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="venu">
            <a class="venu_links" href="#">
                <img class="venu-img" src='assets/images/location-3.jpg' width="320" height="220">
            </a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="venu">
            <a class="venu_links" href="#">
                <img class="venu-img" src='assets/images/location-4.jpg' width="480" height="280">
            </a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="venu">
            <a class="venu_links" href="#">
                <img class="venu-img" src='assets/images/location-5.jpg' width="480" height="280">
            </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="venu">
            <a class="venu_links" href="#">
                <img class="venu-img" src='assets/images/location-6.jpg' width="320" height="220">
            </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="venu">
            <a class="venu_links" href="#">
                <img class="venu-img" src='assets/images/location-7.jpg' width="320" height="220">
            </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="venu">
            <a class="venu_links" href="#">
                <img class="venu-img" src='assets/images/location-8.jpg' width="320" height="220">
            </a>
            </div>
        </div>
    </div>
    
    <div class="main1">
    <div class="col-vend">
        <section class="vend">
            <h3>
                VENDORS
            </h3>
            <img class="topdesgin3" src='assets/images/topdesgin3.png' width="450" height="50">
        </section>
    </div>
    <div class="row-vend">
        <div class="col-md-6">
            <div class="vend">
            <a class="vend_links" href="#">
                <img class="vend-img" src='assets/images/vend-6.jpg' width="320" height="455">
            </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="vend">
            <a class="vend_links" href="#">
                <img class="vend-img" src='assets/images/vend-1.jpg' width="320" height="220">
            </a>
            </div>
            <div class="vend">
            <a class="vend_links" href="#">
                <img class="vend-img" src='assets/images/vend-2.jpg' width="320" height="220">
            </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="vend">
            <a class="vend_links" href="#">
                <img class="vend-img" src='assets/images/vend-3.jpg' width="320" height="220">
            </a>
            </div>
            <div class="vend">
            <a class="vend_links" href="#">
                <img class="vend-img" src='assets/images/vend-4.jpg' width="320" height="220">
            </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="vend">
            <a class="vend_links" href="#">
                <img class="vend-img" src='assets/images/vend-5.jpg' width="320" height="230">
            </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="vend">
            <a class="vend_links" href="#">
                <img class="vend-img" src='assets/images/vend-7.jpg' width="320" height="230">
            </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="vend">
            <a class="vend_links" href="#">
                <img class="vend-img" src='assets/images/vend-8.jpg' width="320" height="230">
            </a>
            </div>
        </div>
    </div>
    </div>
    
    <div class="col-photo">
        <section class="photo">
            <h3>
                Photo Gallery
            </h3>
            <img class="topdesgin3" src='assets/images/topdesgin3.png' width="450" height="50">
        </section>
    </div>
    
    <div class="row-photo">
        <div class="gallery">
            <img class="photo-img" src='assets/images/photo-1.jpg' width="250" height="400">
        </div>
        <div class="gallery">
            <img class="photo-img" src='assets/images/photo-2.jpg' width="250" height="400">
        </div>
        <div class="gallery">
            <img class="photo-img" src='assets/images/photo-3.jpg' width="250" height="400">
        </div>
        <div class="gallery">
            <img class="photo-img" src='assets/images/photo-4.jpg' width="250" height="400">
        </div>
        <div class="gallery">   
            <img class="photo-img" src='assets/images/photo-5.jpg' width="250" height="400">
        </div>
    </div>
    
</div>
  