    <div class="filter-col">
        <div class="filter-box">
            <div class="filter-form"> 
                <h4>Applied Filters </h4>
            </div>
            <div class="filter-form">
                <button class="filter-list 1">Clear</button> 
            </div>
        </div>
        <hr>
        <div class="filter-box">
            <div class="filter-form"> 
                <h4>City</h4>
            </div>
        </div>
            <select>
                <option> Mumbai</option>
                <option> Thane</option>
                <option> Dombivli</option>
                <option> Kalyan</option>
            </select>
        
        <hr>

        <div class="filter-box">
            <div class="filter-form"> 
                <h4>Venue Type </h4>
            </div>
            <div class="filter-form">
                <button id="button" class="filter-list 2">Clear</button> 
            </div>
        </div>
        <div class="filter-form banquet"> 
            <input type="checkbox" value="Check ALL"><label> Banquet Hall</label>
        </div>
        <div class="filter-form 5star"> 
            <input type="checkbox" value="Check ALL"><label> 5-Star Hotel</label>
        </div>
        <div class="filter-form beach"> 
            <input type="checkbox" value="Check ALL"><label> Beach</label>
        </div>
        <div class="filter-form lawn"> 
            <input type="checkbox" value="Check ALL"><label> Wedding Lawn</label>
        </div>
        <div class="filter-form terrace"> 
            <input type="checkbox" value="Check ALL"><label> Terrace Hall</label>
        </div>
        <div class="filter-form river"> 
            <input type="checkbox" value="Check ALL"><label> River Side</label>
        </div>
        <div class="filter-form open"> 
            <input type="checkbox" value="Check ALL"><label> Open Lawn</label>
        </div>
        <div class="filter-form resort"> 
            <input type="checkbox" value="Check ALL"><label> Resort</label>
        </div>
    </div>  
    <hr>
    <div class="filter-col">
        <div class="filter-box">
            <div class="filter-form"> 
                <h4>Monopoly</h4>
            </div>
            <div class="filter-form">
                <button class="filter-list 4">Clear</button> 
            </div>
        </div>
            <div class="filter-form"> 
                <input type="checkbox"><label> Yes</label>
            </div>
            <div class="filter-form"> 
                <input type="checkbox"><label> No</label>
            </div>
    </div>
    <hr>
    <div class="filter-col">
        <div class="filter-box">
            <div class="filter-form"> 
                <h4>Facilites</h4>
            </div>
            <div class="filter-form">
                <button class="filter-list 5">Clear</button> 
            </div>
        </div>
            <div class="filter-form"> 
                <input type="checkbox"><label> Air Conditioned</label>
            </div> 
            <div class="filter-form"> 
                <input type="checkbox"><label> Non-Air Conditioned</label>
            </div> 
            <div class="filter-form"> 
                <input type="checkbox"><label> Wifi</label>
            </div> 
            <div class="filter-form"> 
                <input type="checkbox"><label> Pure Veg.</label>
            </div> 
            <div class="filter-form"> 
                <input type="checkbox"><label> Veg/Non-Veg</label>
            </div> 
            <div class="filter-form"> 
                <input type="checkbox"><label> Alcohol</label>
            </div> 
            <div class="filter-form"> 
                <input type="checkbox"><label> Car Parking</label>
            </div> 
    </div>

