
    <div class="row">
        <div class="items-list">
            <div class="card">
                <div class="card-list-1">
                    <img src="assets/images/location-2.jpg" width="462" height="312">
                </div>
                <div class="card-list-2">
                    <label>Banquet Hall*</label>
                </div>
                <div class="card-list-3">
                    <label><i class="fa fa-map-marker"></i> Jagamara, Bhubaneswar</label>
                </div>
                <div class="card-list-4">
                    <label>Rating-5.0</label>
                </div>
                <div class="card-list-5">
                    <label>Price-₹</label>
                </div>
            </div>
        </div>
        <div class="items-list">
            <div class="card">
                <div class="card-list-1">
                    <img src="assets/images/location-4.jpg" width="462" height="312">
                </div>
                <div class="card-list-2">
                    <label>5-Star Hotel*</label>
                </div>
                <div class="card-list-3">
                    <label><i class="fa fa-map-marker"></i> Jagamara, Bhubaneswar</label>
                </div>
                <div class="card-list-4">
                    <label>Rating-5.0</label>
                </div>
                <div class="card-list-5">
                    <label>Price-₹</label>
                </div>
            </div>
        </div><div class="items-list">
            <div class="card">
                <div class="card-list-1">
                    <img src="assets/images/location-7.jpg" width="462" height="312">
                </div>
                <div class="card-list-2">
                    <label>Beach*</label>
                </div>
                <div class="card-list-3">
                    <label><i class="fa fa-map-marker"></i> Jagamara, Bhubaneswar</label>
                </div>
                <div class="card-list-4">
                    <label>Rating-5.0</label>
                </div>
                <div class="card-list-5">
                    <label>Price-₹</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="items-list">
            <div class="card">
                <div class="card-list-1">
                    <img src="assets/images/location-3.jpg" width="462" height="312">
                </div>
                <div class="card-list-2">
                    <label>Wedding Lawn*</label>
                </div>
                <div class="card-list-3">
                    <label><i class="fa fa-map-marker"></i> Jagamara, Bhubaneswar</label>
                </div>
                <div class="card-list-4">
                    <label>Rating-5.0</label>
                </div>
                <div class="card-list-5">
                    <label>Price-₹</label>
                </div>
            </div>
        </div>
        <div class="items-list">
            <div class="card">
                <div class="card-list-1">
                    <img src="assets/images/location-5.jpg" width="462" height="312">
                </div>
                <div class="card-list-2">
                    <label>Terrace Hall*</label>
                </div>
                <div class="card-list-3">
                    <label><i class="fa fa-map-marker"></i> Jagamara, Bhubaneswar</label>
                </div>
                <div class="card-list-4">
                    <label>Rating-5.0</label>
                </div>
                <div class="card-list-5">
                    <label>Price-₹</label>
                </div>
            </div>
        </div><div class="items-list">
            <div class="card">
                <div class="card-list-1">
                    <img src="assets/images/location-8.jpg" width="462" height="312">
                </div>
                <div class="card-list-2">
                    <label>River Side*</label>
                </div>
                <div class="card-list-3">
                    <label><i class="fa fa-map-marker"></i> Jagamara, Bhubaneswar</label>
                </div>
                <div class="card-list-4">
                    <label>Rating-5.0</label>
                </div>
                <div class="card-list-5">
                    <label>Price-₹</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="items-list">
            <div class="card">
                <div class="card-list-1">
                    <img src="assets/images/location-1.jpg" width="462" height="312">
                </div>
                <div class="card-list-2">
                    <label>Open Lawn*</label>
                </div>
                <div class="card-list-3">
                    <label><i class="fa fa-map-marker"></i> Jagamara, Bhubaneswar</label>
                </div>
                <div class="card-list-4">
                    <label>Rating-5.0</label>
                </div>
                <div class="card-list-5">
                    <label>Price-₹</label>
                </div>
            </div>
        </div>
        <div class="items-list">
            <div class="card">
                <div class="card-list-1">
                    <img src="assets/images/location-6.jpg" width="462" height="312">
                </div>
                <div class="card-list-2">
                    <label>Resort*</label>
                </div>
                <div class="card-list-3">
                    <label><i class="fa fa-map-marker"></i> Jagamara, Bhubaneswar</label>
                </div>
                <div class="card-list-4">
                    <label>Rating-5.0</label>
                </div>
                <div class="card-list-5">
                    <label>Price-₹</label>
                </div>
            </div>
        </div>
    </div>
